# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
bedops=2.4.37=hc9558a2_0
bzip2=1.0.8=h516909a_1
ca-certificates=2019.11.28=hecc5488_0
curl=7.65.3=hf8cf82a_0
gsl=2.4=h294904e_1006
htslib=1.9=h4da6232_3
krb5=1.16.3=h05b26f9_1001
libbigwig=0.4.4=h936984b_0
libblas=3.8.0=14_openblas
libcblas=3.8.0=14_openblas
libcurl=7.65.3=hda55be3_0
libdeflate=1.2=h516909a_1
libedit=3.1.20170329=hf8c457e_1001
libgcc=7.2.0=h69d50b8_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.3.0=hdf63c60_2
libopenblas=0.3.7=h6e990d7_3
libpng=1.6.37=hed695b0_0
libssh2=1.8.2=h22169c7_2
libstdcxx-ng=9.1.0=hdf63c60_0
libuuid=2.32.1=h14c3975_1000
mysql-connector-c=6.1.11=hd2bbab6_1003
ncurses=6.1=hf484d3e_1002
openssl=1.1.1d=h516909a_0
samtools=1.9=h10a08f8_12
tk=8.6.9=hed695b0_1003
ucsc-addcols=357=1
ucsc-ameme=357=1
ucsc-autodtd=357=1
ucsc-autosql=357=1
ucsc-autoxml=357=1
ucsc-avecols=357=1
ucsc-axtchain=357=1
ucsc-axtsort=357=1
ucsc-axtswap=357=1
ucsc-axttomaf=357=1
ucsc-axttopsl=357=1
ucsc-bedclip=357=1
ucsc-bedcommonregions=357=1
ucsc-bedcoverage=357=1
ucsc-bedextendranges=357=1
ucsc-bedgeneparts=357=1
ucsc-bedgraphpack=357=1
ucsc-bedgraphtobigwig=357=1
ucsc-bedintersect=357=1
ucsc-beditemoverlapcount=357=1
ucsc-bedpileups=357=1
ucsc-bedremoveoverlap=357=1
ucsc-bedrestricttopositions=357=1
ucsc-bedsort=357=1
ucsc-bedtobigbed=357=1
ucsc-bedtogenepred=357=1
ucsc-bedtopsl=357=1
ucsc-bedweedoverlapping=357=1
ucsc-bigbedinfo=357=1
ucsc-bigbednameditems=357=1
ucsc-bigbedsummary=357=1
ucsc-bigbedtobed=357=1
ucsc-bigpsltopsl=357=1
ucsc-bigwigaverageoverbed=357=1
ucsc-bigwigcat=357=1
ucsc-bigwigcluster=357=1
ucsc-bigwigcorrelate=357=1
ucsc-bigwiginfo=357=1
ucsc-bigwigmerge=357=1
ucsc-bigwigsummary=357=1
ucsc-bigwigtobedgraph=377=hf46d3de_3
ucsc-bigwigtowig=357=1
ucsc-blasttopsl=357=1
ucsc-catdir=357=1
ucsc-catuncomment=357=1
ucsc-chainantirepeat=357=1
ucsc-chainfilter=357=1
ucsc-chainmergesort=357=1
ucsc-chainnet=357=1
ucsc-chainprenet=357=1
ucsc-chainsort=357=1
ucsc-chainsplit=357=1
ucsc-chainstitchid=357=1
ucsc-chainswap=357=1
ucsc-chaintoaxt=357=1
ucsc-chaintopsl=357=1
ucsc-chaintopslbasic=357=1
ucsc-checkagpandfa=357=1
ucsc-checkcoveragegaps=357=1
ucsc-checkhgfindspec=357=1
ucsc-checktablecoords=357=1
ucsc-chopfalines=357=1
ucsc-chromgraphfrombin=357=1
ucsc-chromgraphtobin=357=1
ucsc-coltransform=357=1
ucsc-countchars=357=1
ucsc-crtreeindexbed=357=1
ucsc-crtreesearchbed=357=1
ucsc-dbsnoop=357=1
ucsc-dbtrash=357=1
ucsc-estorient=357=1
ucsc-faalign=357=1
ucsc-facmp=357=1
ucsc-facount=357=1
ucsc-fafilter=357=1
ucsc-fafiltern=357=1
ucsc-fafrag=357=1
ucsc-fanoise=357=1
ucsc-faonerecord=357=1
ucsc-fapolyasizes=357=1
ucsc-farandomize=357=1
ucsc-farc=357=1
ucsc-fasize=357=1
ucsc-fasomerecords=357=1
ucsc-fasplit=357=1
ucsc-fastqtofa=357=1
ucsc-fatofastq=357=1
ucsc-fatotab=357=1
ucsc-fatotwobit=357=1
ucsc-fatrans=357=1
ucsc-featurebits=357=1
ucsc-fetchchromsizes=357=h5eb252a_2
ucsc-gaptolift=357=1
ucsc-genepredcheck=357=1
ucsc-genepredfilter=357=1
ucsc-genepredhisto=357=1
ucsc-genepredsinglecover=357=1
ucsc-genepredtobed=357=1
ucsc-genepredtobiggenepred=357=1
ucsc-genepredtofakepsl=357=1
ucsc-genepredtogtf=357=1
ucsc-genepredtomafframes=357=1
ucsc-getrna=357=1
ucsc-getrnapred=357=1
ucsc-gff3togenepred=357=1
ucsc-gff3topsl=357=1
ucsc-gtftogenepred=357=1
ucsc-hggcpercent=357=1
ucsc-hgloadbed=357=1
ucsc-hgloadchain=357=1
ucsc-hgloadmaf=357=1
ucsc-hgloadwiggle=357=1
ucsc-lavtopsl=357=1
ucsc-liftover=357=1
ucsc-liftup=357=1
ucsc-mafaddirows=357=1
ucsc-mafaddqrows=357=1
ucsc-mafcoverage=357=1
ucsc-maffetch=357=1
ucsc-maffilter=357=1
ucsc-maffrag=357=1
ucsc-maffrags=357=1
ucsc-mafgene=357=1
ucsc-mafmefirst=357=1
ucsc-maforder=357=1
ucsc-mafranges=357=1
ucsc-mafsinregion=357=1
ucsc-mafspecieslist=357=1
ucsc-mafspeciessubset=357=1
ucsc-mafsplit=357=1
ucsc-mafsplitpos=357=1
ucsc-maftoaxt=357=1
ucsc-maftopsl=357=1
ucsc-maftosnpbed=357=1
ucsc-maskoutfa=357=1
ucsc-netchainsubset=357=1
ucsc-netclass=357=1
ucsc-netfilter=357=1
ucsc-netsyntenic=357=1
ucsc-nettoaxt=357=1
ucsc-nettobed=357=1
ucsc-newpythonprog=357=1
ucsc-nibfrag=357=1
ucsc-nibsize=357=1
ucsc-oligomatch=357=1
ucsc-parafetch=357=1
ucsc-parasync=357=1
ucsc-positionaltblcheck=357=1
ucsc-pslcat=357=1
ucsc-pslcdnafilter=357=1
ucsc-pslcheck=357=1
ucsc-psldropoverlap=357=1
ucsc-pslfilter=357=1
ucsc-pslhisto=357=1
ucsc-pslliftsubrangeblat=357=1
ucsc-pslmap=357=1
ucsc-pslmrnacover=357=1
ucsc-pslpairs=357=1
ucsc-pslpartition=357=1
ucsc-pslpostarget=357=1
ucsc-pslpretty=357=1
ucsc-pslrecalcmatch=357=1
ucsc-pslreps=357=1
ucsc-pslscore=357=1
ucsc-pslselect=357=1
ucsc-pslsort=357=1
ucsc-pslstats=357=1
ucsc-pslswap=357=1
ucsc-psltobed=357=1
ucsc-psltobigpsl=357=1
ucsc-psltochain=357=1
ucsc-psltopslx=357=1
ucsc-pslxtofa=357=1
ucsc-qacagplift=357=1
ucsc-qactoqa=357=1
ucsc-qactowig=357=1
ucsc-qatoqac=357=1
ucsc-randomlines=357=1
ucsc-rasqlquery=357=1
ucsc-ratolines=357=1
ucsc-ratotab=357=1
ucsc-rmfadups=357=1
ucsc-rowstocols=357=1
ucsc-spacedtotab=357=1
ucsc-splitfile=357=1
ucsc-splitfilebycolumn=357=1
ucsc-sqltoxml=357=1
ucsc-stringify=357=1
ucsc-subchar=357=1
ucsc-subcolumn=357=1
ucsc-taillines=357=1
ucsc-tdbquery=357=1
ucsc-texthistogram=357=1
ucsc-ticktodate=357=1
ucsc-tolower=357=1
ucsc-toupper=357=1
ucsc-trfbig=357=1
ucsc-twobitdup=357=1
ucsc-twobitinfo=357=1
ucsc-twobitmask=357=1
ucsc-twobittofa=357=1
ucsc-validatefiles=357=1
ucsc-validatemanifest=357=1
ucsc-wigcorrelate=357=1
ucsc-wigtobigwig=357=1
ucsc-wordline=357=1
ucsc-xmlcat=357=1
ucsc-xmltosql=357=1
ucsc_tools=332=0
wiggletools=1.2.3=hba6f200_0
xz=5.2.4=h14c3975_1001
zlib=1.2.11=h516909a_1006
